#patterns {
    display: flex;
    flex-wrap: wrap;
}

.pattern {
    background-color: #f1f1f1;
    width: auto;
    margin: 10px;
    padding:10px;
    
    margin-bottom: 15px;
    border: solid 1px;

    img {
        width:250px;
    }
}