.results-container {
  .stats {
    display:grid;

    grid-template-areas:
     "measurements  yardage";

    .measurements {
      grid-area: measurements;
    }

    .yardage {
      grid-area: yardage;
      font-weight:bold;
    }
  }
}