@import url('https://fonts.googleapis.com/css?family=Inconsolata|Pacifico|Quicksand');
@import 'components/form';
@import 'components/table';
@import 'components/results';


* {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-family: 'Pacifico', cursive;
  border-bottom: solid 4px black;
}

h2,h3,h4,h5 {
  font-family: 'Inconsolata', serif;
}

.table-container, .results-container {
  background-color: #EEEEEE;
  padding: 15px;
}